<!--The whole content below can be removed with the new code.-->
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div ng-app="myApp" ng-controller="myCtrl">
  <div class="header" id="myHeader">
    <img src="https://d2aq6dqxahe4ka.cloudfront.net/themes/front/images/logo.png" class="new-logo" id="logo">

    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span>&nbsp;
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" id="currency-drop-d" style="display: none;">
      <li>
        <a id="login_btn" href="https://www.impactguru.com/users/sign-in">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>
      <li>
        <a href="https://www.impactguru.com/fundraiser/create">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a>
      </li>
    </ul>
  </div>

  <br>
  <div>

    <body>
      <div class="message-panel" *ngIf=hasDatePassed>
        <h2 class="message">Fundraiser ended on Oct 16, 2017</h2>
      </div>
      <br>
      <div class="sidenav">
        <a href="https://www.impactguru.com/fundraiser/create" id="header-start-fundraiser">Start a Fundraiser</a>
        <a href="https://www.impactguru.com/how-crowdfunding-works">How it Works?</a>
        <a href="https://www.impactguru.com/fundraisers">Browse Fundraiser</a>
      </div>
      <div class="main" style="overflow-y:auto;">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId"
          width="73" height="28" style="border:none;overflow:hidden;float:right" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        <h2>Project Alpha - Help build a classroom for students at Sikkim Himalayan Academy - Impact Guru</h2>
        <div class="row hidden-xs ">
          <div class="column">
            <h4> ₹ 3,08,900 Raised</h4>
            <p>of ₹ 5,00,000</p>
          </div>
          <div class="column">
            <a href="javascript:void(0);" id="dd4">65 Donors</a>
            <p>in 301 days</p>
          </div>
          <div class="percent-column">
            <div class="container-pregressive-bar">
              <div id="css2">
                <div class="progressbar" style="width: 100%; background-color: rgb(238, 238, 238); border-radius: 3px;">
                  <div class="proggress" style="background-color: rgb(128, 184, 1); height: 20px; border-radius: 3px; width:62% ">
                  </div>
                  <div class="percentCount">62%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <p>
          <b>Campaigner:</b>
          <a href="">Living Routes</a>
          &nbsp;&nbsp;
          <b>Beneficiary:</b>
          <a href="">Sikkim Himalayan Academy</a>
        </p>
        <br>
        <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://d2aq6dqxahe4ka.cloudfront.net/assets/froala_images/830f1d2b45a4364014cd9069c884ed7fb0e44a83.jpg" alt="num1"
                  style="width:100%;">
              </div>

              <div class="item">
                <img src="https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/campaigns_gallery/thumb_facebook/3956252286073956351.jpg"
                  alt="num2" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://www.impactguru.com/fundraiser/project-alpha-by-the-living-routes" alt="num3" style="width:100%;">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <strong>
          <span style="font-size: 18px; color: rgb(44, 130, 201);">'Education is the passport to the future, for tomorrow belongs to those who prepare for it today' - Malcom X</span>
        </strong>
        <br>
        <span style="font-size: 18px;">As we read this quote, I'm sure we believe that education is that one passport that every child deserves to hold.
          That being said, the sad truth is, it is a lot more difficult for some compared to others.</span>
        <br>
        <br>
        <span style="font-size: 18px;">The
          <span style="color: rgb(44, 130, 201);">&nbsp;</span>
          <strong>
            <span style="color: rgb(44, 130, 201);">Sikkim Himalayan Academy</span>
          </strong>, a free residential school on Eastern Himalayas for the underprivileged children from the remote mountains, hopes
          to overcome all odds stacked up against some of the unfortunate kids and provide them all with excellent education.
          Hence, as a part of our project, Project Alpha by The Living Routes , we aim to throw some limelight on this inspirational
          school and help them raise funds for building a recreational centre/classroom for the students.</span>
        <br>
        <span style="font-size: 18px;">
          <strong>Project Alpha</strong>, the first of its kind, is a project spearheaded by a couple,
          <strong>&nbsp;Tracey&nbsp;</strong>and
          <strong>&nbsp;Ajay</strong> who connect their passion for bike riding with a cause, the cause being education this time.
          As ardent bikers, both Tracey and Ajay are touring across the length and breadth of the country on their bikes
          and achieving the following objectives for this project;</span>
        <br>
        <p style="font-size: 18px;">1. Covering minimum of 15 states and 10,000 km on their respective bikes ( neither is a pillion, both are riders)
          <br> 2. Raising 5 lakh rupees via confounding portal ImpactGuru to help build classroom for the much deserved kids
          at Sikkim Himalayan Academy.
          <br> 3. Understanding perspectives on education enroute from people across the nation.
          <br> 4. Create awareness and educating ourselves, alongwith others, about the diverse culture of our country.
          <br> This is only the first hence Project Alpha. The couple also hopes to continue the saga with more such expeditions
          and biking for many more causes.</p>
        <p style="font-size: 18px">
          <strong>About the School and the challenges faced </strong> &nbsp;
          <a style="font-size: 15px;cursor:pointer" (click)="show = !show">{{show ? 'Show Less' : 'Show More'}}</a>
        </p>
        <br>
        <p class="read-more" style="font-size: 18px;" *ngIf="show">Started by a few local Sikkimese teachers and volunteers in 2003, the mission of SHA is to provide free education
          as well as daily care to children in need from the remote mountains of Sikkim. The school faces multiple challenges
          in doing so. Some of them include staying in the makeshift hostel in the attic of the school, accessibility to
          resources, weather conditions, lack of opportunities for talented kids due to devoid of a facility room etc.&nbsp;</p>


        <p style="font-size: 18px">
          <strong>How can you help? </strong>&nbsp;
          <a style="font-size: 15px;cursor:pointer" (click)="show1 = !show1">{{show1 ? 'Show Less' : 'Show More'}}</a>
        </p>
        <br>
        <p class="read-more" style="font-size: 18px;" *ngIf="show1">The school wants to provide its students not just in academia but also extra curricular activities so each student
          can hone over their talents. The academy is also short of one classroom for its students who are currently being
          taught in corridors. They hope to build a recreation room which can also be used as a classroom for the same. Every
          donation made to this project will be contributed to building this room for the kids at Sikkim Himalayan Academy.
          &nbsp;</p>
        <br>
        <span style="font-size: 18px;">Kindly note that goal of this fundraiser includes transaction charges, website charges etc. And any extra amount
          received will go to the school's cause.</span>
      </div>

    </body>
  </div>
  <br>
  <footer class="footer">
    <div class="col col-md-3 col-xs-12 col-sm-4">
      <div>
        <div id="subscriber_form_div">
          <h4 class="newletter-title">Subscribe to our Newsletter</h4>
          <div class="subcribe">
            <form class="newsletter-form">
              <input type="text" id="email_s" name="email" placeholder="Enter email address here" class="form-control">
              <div class="send">
                <i class="fa fa-paper-plane" aria-hidden="true" type="submit" id="subscribe_submit"></i>
              </div>
              <small style="color:red;" id="subscribe_error" class="help-block"></small>
            </form>
          </div>
        </div>
      </div>
      <h4>Connect with us</h4>
      <ul class="footer-nav">
        <li>
          <b>General Enquiry :</b>
        </li>
        <li class="hidden-xs">
          <b>Phone : </b>08030187007</li>
        <li class="visible-xs">
          <b>Phone : </b>
          <a href="javascript:void(0)" onclick="window.location = 'tel:08030187007'" style="color: #fff;">08030187007</a>
        </li>
        <li>
          <b>Email : </b>
          <a href="mailto:info@impactguru.com">info@impactguru.com</a>
        </li>
        <li></li>
        <li>
          <b>Fund Settlement :</b>
        </li>
        <li class="hidden-xs">
          <b>Phone : </b>+91 - 8655066210 , 022-49717414</li>
        <li class="visible-xs">
          <b>Phone : </b>
          <a href="javascript:void(0)" onclick="window.location = 'tel:+918655066210'" style="color: #fff;">+91 - 8655066210</a> ,
          <a href="javascript:void(0)" onclick="window.location = 'tel:02249717414'" style="color: #fff;">022-49717414</a>
        </li>
        <li>
          <b>Email : </b>
          <a href="mailto:fundtransfer@impactguru.com">fundtransfer@impactguru.com</a>
        </li>
      </ul>
    </div>
    <div class="col col-md-3 col-xs-12 col-sm-6 ftr__list nav">
      <h4 class="footer-h">About Us</h4>
      <ul class="footer-nav">
        <li>
          <a href="https://www.impactguru.com/about-us" title="About Us" class="about-us-event">About Us</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/team" title="Team &amp; Advisory" class="team-advisory-board-event">Team &amp; Advisory Board</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/careers" title="Careers" class="careers-event">Careers</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/blog" title="Blog" target="_blank" class="blog-event">Blog</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/press-news" title="Press &amp; News" class="press-news-event">Press &amp; News</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/globalgiving-partnership-enables-US-UK-tax-benefits-for-indian-ngos-and-social-enterprises"
            title="GlobalGiving Partnership" class="globalgiving-partnership-event">GlobalGiving Partnership</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/contact-us" title="Contact Us" class="contact-us-event">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col col-md-3 col-xs-12 col-sm-6 ftr__list nav">
      <h4 class="footer-h">Learn</h4>
      <ul class="footer-nav">
        <li>
          <a href="https://www.impactguru.com/how-crowdfunding-works" title="How Crowdfunding Works" class="how-crowdfunding-works-event">How Crowdfunding Works</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/fundraising-ideas" title="Fundraising Ideas" class="fundraising-ideas-event">Fundraising Ideas</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/fundraising-tips" title="Fundraising Tips" class="fundraising-tips-event">Fundraising Tips</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/success-stories" title="Success Stories" class="success-stories-event">Success Stories</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/help-center" title="Help Center" class="help-center-event">Help Center</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/pricing" title="Pricing" class="pricing-event">Pricing &amp; Fees</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/trust-and-safety" title="Trust &amp; Safety" class="trust-safety-event">Trust &amp; Safety</a>
        </li>
      </ul>
    </div>
    <div class="col col-md-3 col-xs-12 col-sm-6 ftr__list nav">
      <h4 class="footer-h">Top Categories</h4>
      <ul class="footer-nav">
        <li>
          <a href="https://www.impactguru.com/medical-crowdfunding" title="Medical Crowdfunding" class="donate-event">Medical Crowdfunding</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/cancer-crowdfunding" title="Cancer Crowdfunding " class="faqs-by-donors-event">Cancer Crowdfunding </a>
        </li>
        <li>
          <a href="https://www.impactguru.com/transplant-crowdfunding" title="Transplant Crowdfunding" class="individual-giving-event">Transplant Crowdfunding</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/ngo-crowdfunding" title="NGO Crowdfunding" class="csr-engagement-event">NGO Crowdfunding</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/children-crowdfunding" title="Children Crowdfunding" class="family-office-giving-event">Children Crowdfunding</a>
        </li>
        <li>
          <a href="https://www.impactguru.com/education-crowdfunding" title="Education Crowdfunding" class="foundation-giving-event">Education Crowdfunding </a>
        </li>
        <li>
          <a href="https://www.impactguru.com/films-crowdfunding" title="Film Crowdfunding" class="foundation-giving-event">Film Crowdfunding </a>
        </li>
      </ul>
    </div>
  </footer>

</div>

</html>